<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chikara.stack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Stack.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Stack.ImplementSTackUsingQueue" />
        <activity android:name=".Stack.SpecialStack" />
        <activity android:name=".Stack.StackGetMiddleElement" />
        <activity android:name=".Stack.StackUsingOneQueue" />
        <activity android:name=".Stack.ReverseStack" />
        <activity android:name=".Stack.ShortStackUsingTempStack" />
        <activity android:name=".Stack.ReverseStackUsingRecursive" />
        <activity android:name=".Stack.DesignStackGetMin" />
        <activity android:name=".Stack.ImplementQueueUsingTwoStack" />
        <activity android:name=".Stack.DesignStackGetMinElement" />
        <activity android:name=".Queue.ReverseQueue" />
        <activity android:name=".Stack.MergeShort" />
        <activity android:name=".Stack.ArrayMergeShort" />
        <activity android:name=".Tree.BinaryTree.ConvertTreeToDoubleList" />
        <activity android:name=".Tree.BinaryTree.LevelOrderTraversal" />
        <activity android:name=".Tree.BinaryTree.LevelOrderUsingQueue" />
        <activity android:name=".Tree.BinaryTree.LevelOrderPrintInDifferentLine" />
        <activity android:name=".Tree.BinaryTree.DiffBetweenSumOfOddEvenLevel" />
        <activity android:name=".Tree.BinaryTree.ConvertArrayToTree" />
        <activity android:name=".Tree.BinaryTree.HeightOfTree" />
        <activity android:name=".Tree.BinaryTree.PreOrderTraversal" />
        <activity android:name=".Tree.BinaryTree.TwoTreeIdentical" />
        <activity android:name=".Tree.BinaryTree.SpiralOrderTraversal" />
        <activity android:name=".Tree.BinaryTree.ReverseLevelOrderTraversal" />

    </application>

</manifest>